@import "tailwindcss";

@theme {
  --color-primary: #489da6;
  --color-dark: #383838;
  --font-family-chivo: "Chivo-Light", sans-serif;
  --font-family-lora: "Lora-Regular", serif;
}

.font-chivo {
  font-family: "Chivo-Light", sans-serif !important;
}

.font-lora {
  font-family: "Lora-Regular", serif !important;
}

@font-face {
  font-family: "Chivo-Light";
  src: url("/fonts/Chivo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lora-Regular";
  src: url("/fonts/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #F5EBDD;
  color: #132F3D;
  font-family: "Lora-Regular", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chivo-Light", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #383838;
}

::-webkit-scrollbar-thumb {
  background: #489da6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5aa4ac;
}
